body { 
    box-sizing: border-box;
      
    background-color: white;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 100%;
    color:black;
    
    margin:50px;
    
    border-style: solid; 
    border-width: 1px;
    border-color: #172457;
    border-radius: 10px;
    
    padding: 25px 10px; 
    max-width:  900px;
}

label{
    display: block;
}


input[type =""] + label{
    display: inline;
}


button, input, select, textarea {
	font-family: inherit;
	font-size: 100%;
    color: black;
}

input, textarea, select { 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}


input[type="text"], input[type="url"], input[type="submit"], 
input[type="email"], input[type="tel"], input[type="search"], 
input[type="number"], input[type="date"], input[type="time"], textarea {
	width: 12em;
	padding: 5px;
	margin: 5px 5px 5px 0;
	border-radius: 6px;
	background-color: lightgray;
}

input[name="postcode"] {
	width: 5em;
}

input[type="email"] {
	width: 20em;
}

textarea {
	vertical-align: middle;
}

fieldset{
    color: black;
    border-width: 0;
    padding: 0;
}

/* HEADING ATTRIBUTES */
h1 {
    border-bottom-style:solid; 
    border-color: black;
    border-width: 2px;
    
    font-size: 300%;
    color: #172457;
    
    text-align: center;
    margin-bottom: 0.2em;
  }

h2 {
    font-size:150%;
    color:#172457;

    margin-bottom:0.20em;
}

#styled submit {
	cursor: pointer;
}

legend{
    font-weight: bold;
}


/* table for input for items for quotation */

table{
    border: 2px solid black;
    font-size: 1em;
    /* border-collapse: collapse; */
}

td, th{
    padding: 0.2rem;
    /* border-bottom: 1px solid blue; */
}


remove last line of td border
tfoot tr:last-child td{
    border-bottom: none;
}

caption{
    font-size: 1.2em;
    font-weight: bold;
    color: black;
}

th{
    text-align: center;
    background-color: #fff;
    color: blue;

}

input[name="productId"], input[name="prodName"], input[name="quantity"], 
input[name="unitPrice"], input[name="lineTotal"] {
	background-color: white;
    border-color: white;
    border: none;
    padding: none;
    border-radius: none;

}


